@media (min-width: 576px) { 
    .active {
        max-height: fit-content;
    }
    .w-100 {
        max-height: 550px;
    }
}

@media (min-width: 768px) {
    .active {
        max-height: fit-content;
    }
    .w-100 {
        max-height: 600px;
    }
}

@media (min-width: 992px) {
    .active {
        max-height: fit-content;
    }
    .w-100 {
        max-height: 650px;
    }
}

@media (min-width: 1200px) {
    .active {
        max-height: fit-content;
    }
    .w-100 {
        max-height: 700px;
    }
}

@media (min-width: 1400px) {
    .active {
        max-height: fit-content;
    }
    .w-100 {
        max-height: 750px;
    }
}

.profile {
    border-radius: 50%;
}